.main-div {
  width: 300px;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  background-color: var(--bg-color);
  padding-right: 10px;
}

.main-items-div {
  flex-direction: column;
  gap: 10px;
}

.add-dropdown {
  z-index: 2;
  position: absolute;
  right: -250px;
  top: 30px;
}

.json-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  background-color: var(--bg-item-color-selected);
  padding: 6px 10px 6px 10px;
  border-radius: var(--border-radius-item);
  border: none;
  cursor: pointer;
}

.json-button:active {
  background-color: var(--dropdown-background-item-hover);
  border: solid 1px var(--bg-item-color-selected);
}

.json-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  color: var(--text-color);
}

.code-window {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40%;
  margin-left: -40%;
}
